name: Deploy to Server

on:
    workflow_dispatch:

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            # Repositoriyani yuklash
            - name: Repositoriyani yuklash
              uses: actions/checkout@v4

            # Node.js o'rnatish
            - name: Node.js o‘rnatish
              uses: actions/setup-node@v5
              with:
                  node-version: 22

            # node_modules o‘rnatish (build uchun)
            - name: node_modules'ni o‘rnatish
              run: npm ci

            # Build qilish
            - name: Build qilish
              run: npm run build

            # Serverda loyiha papkasini yaratish
            - name: Serverda loyiha papkasini yaratish
              uses: appleboy/ssh-action@v1.0.3
              with:
                  host: ${{ secrets.SERVER_HOST }}
                  username: ${{ secrets.SERVER_USERNAME }}
                  key: ${{ secrets.SSH_PRIVATE_KEY }}
                  script: |
                      if [ -d /root/${{ vars.APP_NAME }} ]; then
                        echo "${{ vars.APP_NAME }} papkasi mavjud"
                      else
                        mkdir -p /root/${{ vars.APP_NAME }}
                        echo "${{ vars.APP_NAME }} papkasi yaratildi"
                      fi

            # dist papkasini serverga yuklash
            - name: dist papkasini serverga yuklash
              uses: appleboy/scp-action@v0.1.4
              with:
                  username: ${{ secrets.SERVER_USERNAME }}
                  host: ${{ secrets.SERVER_HOST }}
                  key: ${{ secrets.SSH_PRIVATE_KEY }}
                  source: "dist/*"
                  target: "/root/${{ vars.APP_NAME }}"
                  port: 22
                  debug: true

            - name: List current directory
              run: ls -la

            # package.json va package-lock.json fayllarini serverga yuklash
            - name: package.json va package-lock.json fayllarni serverga yuborish
              uses: appleboy/scp-action@v0.1.4
              with:
                  username: ${{ secrets.SERVER_USERNAME }}
                  host: ${{ secrets.SERVER_HOST }}
                  key: ${{ secrets.SSH_PRIVATE_KEY }}
                  source: "package.json, package-lock.json"
                  target: "/root/${{ vars.APP_NAME }}"
                  port: 22
                  debug: true
                  overwrite: true

            # .env.example faylni serverga yuklash
            - name: .env.example faylni serverga yuborish
              uses: appleboy/scp-action@v0.1.4
              with:
                  username: ${{ secrets.SERVER_USERNAME }}
                  host: ${{ secrets.SERVER_HOST }}
                  key: ${{ secrets.SSH_PRIVATE_KEY }}
                  source: ".env.example"
                  target: "/root/${{ vars.APP_NAME }}"
                  port: 22
                  debug: true

            # .env faylni yaratish
            - name: .env faylni yaratish
              uses: appleboy/ssh-action@v1.0.3
              with:
                  host: ${{ secrets.SERVER_HOST }}
                  username: ${{ secrets.SERVER_USERNAME }}
                  key: ${{ secrets.SSH_PRIVATE_KEY }}
                  script: |
                      cd /root/${{ vars.APP_NAME }}
                      cp .env.example .env
                      sed -i \
                      -e "s|^PORT=.*|PORT=${{ vars.PORT }}|" \
                      -e "s|^APP_NAME=.*|APP_NAME=${{ vars.APP_NAME }}|" \
                      -e "s|^DATABASE_URL=.*|DATABASE_URL=${{ secrets.DATABASE_URL }}|" \
                      -e "s|^ACCESS_TOKEN_SECRET=.*|ACCESS_TOKEN_SECRET=${{ secrets.ACCESS_TOKEN_SECRET }}|" \
                      -e "s|^ACCESS_TOKEN_EXPIRES_IN=.*|ACCESS_TOKEN_EXPIRES_IN=${{ secrets.ACCESS_TOKEN_EXPIRES_IN }}|" \
                      -e "s|^REFRESH_TOKEN_SECRET=.*|REFRESH_TOKEN_SECRET=${{ secrets.REFRESH_TOKEN_SECRET }}|" \
                      -e "s|^REFRESH_TOKEN_EXPIRES_IN=.*|REFRESH_TOKEN_EXPIRES_IN=${{ secrets.REFRESH_TOKEN_EXPIRES_IN }}|" \
                      .env

            # Serverda node_modules o'rnatish (faqat production)
            - name: Serverda node_modules o'rnatish
              uses: appleboy/ssh-action@v1.0.3
              with:
                  host: ${{ secrets.SERVER_HOST }}
                  username: ${{ secrets.SERVER_USERNAME }}
                  key: ${{ secrets.SSH_PRIVATE_KEY }}
                  script: |
                      cd /root/${{ vars.APP_NAME }}
                      npm ci --omit=dev

            # PM2 bilan loyiha ishga tushirish / restart
            - name: PM2 bilan loyiha ishga tushirish / restart
              uses: appleboy/ssh-action@v1.0.3
              with:
                  host: ${{ secrets.SERVER_HOST }}
                  username: ${{ secrets.SERVER_USERNAME }}
                  key: ${{ secrets.SSH_PRIVATE_KEY }}
                  script: |
                      cd /root/${{ vars.APP_NAME }}

                      # Agar .env mavjud bo'lmasa, build ishlamaydi
                      if [ ! -f .env ]; then
                        echo ".env fayl topilmadi! Iltimos, .env yaratilsin."
                        exit 1
                      fi

                      # PM2'ni tekshirish, agar o'rnatilmagan bo'lsa global o'rnatish
                      if ! command -v pm2 &> /dev/null
                      then
                          echo "PM2 topilmadi, global o'rnatilyapti..."
                          npm i -g pm2
                      fi

                      # PM2 process nomi (deploy nomi)
                      APP_NAME="${{ vars.APP_NAME }}"

                      # Agar process mavjud bo'lsa, restart qiladi, yo'q bo'lsa, yangi start
                      if pm2 list | grep -q "$APP_NAME"; then
                          echo "PM2 process topildi, restart qilinmoqda..."
                          pm2 restart "$APP_NAME"
                      else
                          echo "PM2 process topilmadi, yangi start qilinmoqda..."
                          pm2 start dist/main.js --name "$APP_NAME" --env production
                      fi

                      # PM2 processlarini saqlash (server restartdan keyin ham ishga tushishi uchun)
                      pm2 save
